/* Palette de couleur:

Noir foncé
#07111B

Gris foncé
#0A141E

Rouge
#FF1043
*/
label {
    display: block;
    font: .9rem;
}

input[type='submit'],
label {
    margin-top: 1rem;

}
#email{
    all: none;
    width: 30vmin;
    padding: 0.2em;
    border-width: 1px;
    border-color: black;
}
.messageconnec{
   text-align: center;
   font-size: 3vmin;
   font-weight: bold;
}

.nouveaucompte{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50vmin;
    margin-left: auto;
    margin-right: auto;
    background:#FF1043;
    padding: 1em;
    border-radius: 30px;
    margin-top: 3em;
}
.SignIn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50vmin;
    margin:auto;
    background: #FF1043;
    padding: 1em;
    border-radius: 30px;
    margin-top: 3em;
}
input[type='submit']{
    width: 25%;
}
#buttoncreationcompte{
    width: 5vmax;
}
input[type=password]{
    border: 1px solid black;
}
#nrue{
    width: 10%;
}
fieldset{
    margin-top: 1em;
    border:2em, #07111B;
    
}
.big-header{
    min-height: 40vh;
}
p{
    margin: 0;
    padding: 1em;
}
input[type='checkbox']{
    margin:.5em;
    margin-top: 1.5em;
}
.checkboxnl{
    display: flex;
    flex-direction: row;
}
/* changement pour petits écrans*/
@media screen and (max-width:1000px){
    p{
        font-size: 3em;
        margin-bottom: .5em;
    }
    label{
        font-size: 3em;
    }
    #email{
        width: 90%;
        margin-bottom: 1em;
        font-size:3em;
    }
    .nouveaucompte{
        display: flex;
        margin: auto;
        width: 100%;
    }
    #pass{
        width: 90%;

    }
    .SignIn{
        margin-bottom: 4em;
        display: flex;
        width: 100%;
    }
    input[type=password]{
        font-size: 3em;
    }
    input[type=number]{
        font-size: 3em;
    }
    input[type=submit]{
        font-size: 3em;
        width: 50%;
        padding: 0.3em;
        margin-bottom: 1em;
        }
    .nouveaucompte form input[type=text]{
        font-size: 3em;
    }
    #buttoncreationcompte{
        width: 50%;
    }
 
    .big-header{
        min-height: 20vh;
    }
    input[type='checkbox']{
        transform: scale(3);
        margin: 3em;
    }
    select{
        font-size: 3em;
    }
    input[type='date']{
        font-size: 3em;
    }
    .big-header{
        font-size: 1.1em;
    }
    h3{
        font-size: 4em;
    }
    main{
        padding-bottom: 20em;
    }
}
/*fin changement pour petits écrans*/