/* Palette de couleur:

Noir foncé
#07111B

Gris foncé
#0A141E

Rouge
#FF1043
*/
/* contenu principal page accueil*/
.main-container{
    display: flex;
    flex-direction: row;
    align-items: center;  
}
.main-container img{
    width: 40vw;
    margin-right: 1.5em;
}
.main-container p{
    font-size: 1.2em;
}
h2{
    padding-bottom: .5em;
    border-bottom: 3px solid white;
    margin-bottom: 2em;
}

.articlefilm{
    display: flex;
    flex-direction: row;
    align-items: center;
    display: none;
}

.articlefilm p{
    padding-left: 5%;
}

.article0{
    margin-top: 6em;
}
.films{
    margin-bottom: 2em;
    padding-bottom: 2em;
}
.article0{
    font-size: 2em;
}