/* Palette de couleur:

Noir foncé
#07111B

Gris foncé
#0A141E

Rouge
#FF1043
*/
/* contenu principal page Newsletter*/
body{
    background: #07111B;
}
main{
    font-size: 1.2em;
}
h2{
    padding-bottom: .5em;
    border-bottom: 3px solid white;
    margin-bottom: 2em;
}

strong{
    font-style: italic;
}


input[type=email]{
    margin-top: 2em;
    font-size: 1.5em;
}

.submit-btn {
    background-color: #FF1043;
    width: fit-content;
    padding: 0.5em;
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    border-radius: 45px;
    box-shadow: 0 8px 15px rgba(241, 126, 132, 0.1);
    transition: all 0.3s ease 0s;
}
.submit-btn:hover{
background-color: #FF1043;
box-shadow: 0 15px 20px #cc0a34;
transform: translateY(3px);
}

/*adaptation pour petit écran (mobiles)*/
@media all and (max-width: 992px){
    main{
        font-size: 2em;
    }
}