@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto-Regular.ttf);
}
/* Palette de couleur:

Noir foncé
#07111B

Gris foncé
#0A141E

Rouge
#FF1043
*/

body{
    margin: 0;
    color: white;
    font-family: "Roboto", sans-serif;
}

/* Style des boutons */
.logo-connexion:hover,
.button:hover,
.search-bar button:hover{
    background-color: #FF1043;
    box-shadow: 0 15px 20px #cc0a34;
    transform: translateY(3px);
}
.button {
    background-color: #FF1043;
    width: fit-content;
    margin: 0 1em;
    padding: 0.5em;
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    border-radius: 45px;
    box-shadow: 0 8px 15px rgba(241, 126, 132, 0.1);
    transition: all 0.3s ease 0s;
}

/* Header */
header{
    background-color: #07111B;
}
.header-bar{
    display: flex;
    display: row;
    justify-content: space-around;
    align-items: center;
}

.logo-cinema{
    width: 5em;
}

.logo-connexion{
    width: 4em;
}

/* retrait des effets de liste */
.menu-header ul li,
.social-link ul li{
    list-style-type: none;
}

.menu-header ul,
.social-link,
footer{
    display: flex;
    flex-direction: row;
}
.social-link img{
    width: 3em;
}

.menu-header ul{
    padding-left: 10px;
}

/* style des liens */
.menu-header a
{
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5em;
}
li a.active {
    color:#FF1043;
}

/* Styles de l'en-tête */
.menu-header a{
    padding: 14px 30px;
    color: white;
}
.menu-header{
    align-items: center;
}

/*entete de présentation*/
.big-header{
    background: linear-gradient(to bottom, rgba(255, 16, 67, .4), rgba(7, 17 ,27, .4)), url(../images/affiche-ww.jpg);
    background-size: cover;
    display: block;
    min-height: 35em;
}


/*style du grand titre de bienvenu */
.fancy {
    overflow: hidden;
    text-align: center;
  }
   
  .fancy span {
    position: relative;
  }
   
  .fancy span:before,
  .fancy span:after {
    content: "";
    position: absolute;
    border-top: 5px solid white;
    width: 6em;
    height: 7px;
    top: 50%;
  }
   
  .fancy span:before {
    right: 100%;
    margin-right: .5em;
  }
   
  .fancy span:after {
    left: 100%;
    margin-left: .5em;
  }

  .bienvenue{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.5em;
  }
  h1{
      margin-top: 0;
      margin-bottom: 0;
  }
  p{
      margin-bottom: 0;
  }
  .apropos span{
      background-color:#FF1043;
      padding: .5em;
      padding-inline: 1.5em;
      border-radius: 1em;
  }
  .apropos span:hover{
    box-shadow: 0 15px 20px #cc0a34;
    transform: translateY(3px);
  }
  .big-header a{
      text-decoration: none;
      color: white;
  }

/*footer*/
.search-bar {
    float: right;
    padding-left: 10px;
}
.search-bar input[type="text"] {
    padding: 10px;
    margin-top: 8px;
    border-top: 1px solid #07111B;
    border-right: none;
    border-bottom: 1px solid #07111B;
    border-left: 1px solid #07111B;
    border-radius: 5px 0 0 5px;
}
.search-bar input[type="text"]:focus {
    padding: 10px;
    margin-top: 8px;
    outline: none;
    border-top: 1px solid #07111B;
    border-right: none;
    border-bottom: 1px solid #07111B;
    border-left: 1px solid #07111B;
    border-radius: 5px 0 0 5px;
}
.search-bar button {
    float: right;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    background-color: #FF1043;
    border-top: 1px solid #07111B;
    border-right: 1px solid #07111B;
    border-bottom: 1px solid #07111B;
    border-left: none;
    border-radius: 0 5px 5px 0;
}
.search-bar .icon-search{
    width: 1.5em;
}

footer{
    background-color: #07111B;
    justify-items: center;
    align-items:center;
    justify-content: space-between;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
.social-link ul{
    display: flex;
    justify-content: row;
   
}
.search-connec{
    display: flex;
    align-items: center;
}

/* main content */
main{
    background-color: #0A141E;
    padding-inline: 10vw;
    padding-bottom: 10vw;
}

/*gestion des 4 films à l'affiche */
.films img{
    width: 15vw;
    max-height: 40vh;
    transform: translateY(4em);
    transition: 0.25s ease-in-out;
}

.films{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    height: 10em;
    margin-bottom: 7em;
}

.afficheinfo{
    transform: translateY(-1.4em);
    font-size: 1.2em;
}
.films img:hover{
    transform: scale(1);
    box-shadow: 0 15px 20px #cc0a34;
    transform: translateY(-.3em);
    cursor:pointer;
}

@media all and (min-width: 993px) {
    /*cache header mobile sur grand écran*/
    #header2{
        display: none;
    }
}

/*adaptation pour petit écran (mobiles)*/
@media all and (max-width: 992px) {
    body{
      width: 100vw;
    }
    main{
        min-height: 70vh;
    }

    /*affiche header mobile*/
    #header1{
        display: none;
    }
    .logo-header{
        width: 5em;
    }
    .logo-cinema{
        width: 7em;
    }
    .logo-connexion{
        width: 5em;
    }

    /* augmentation taille de texte pour mobile*/
    .big-header{
        font-size: 2em;
    }

    /*gestion des 4 affiches pour mobiles*/
    .films{
        flex-direction: column;
        align-items: center;
        padding-bottom: 50em;
        height: fit-content;
    }
    .films img{
        width: 90vw;
        transform:none;
        height: max-content;
    }
    .afficheinfo{
        transform: none;
        font-size: 3em;
        padding-bottom: 4em ;
    }
    .films img:hover{
        transform: none;
        box-shadow: none;
        transform: none;
        cursor:pointer;
    }

    /*footer pour mobile*/
    footer{ 
        height: 15em;
    }
    .social-link img{
        width: 6em;
    }
    .search-bar form input{
        width: 30vw;
        font-size: 3em;
    }
    .search-bar button {
        width: 5em;
        height: 6em;
    }
    .button-connexion a{
        font-size: 1.6em;
    }

}
