/* Palette de couleur:

Noir foncé
#07111B

Gris foncé
#0A141E

Rouge
#FF1043
*/
/* contenu principal page Tarifs*/
.main-container{
    display: flex;
    flex-direction: column; 
}
.main-container img{
    width: 40vw;
    margin-right: 1.5em;

}
.main-container{
    font-size: 1.2em;
}
h2{
    padding-bottom: .5em;
    border-bottom: 3px solid white;
    margin-bottom: 2em;
}
.reservedbtn {
    background-color: #FF1043;
    width: fit-content;
    margin: 0 1em;
    padding: 0.5em;
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    border-radius: 45px;
    box-shadow: 0 8px 15px rgba(241, 126, 132, 0.1);
    transition: all 0.3s ease 0s;
}
.reservedbtn:hover{
    cursor: pointer;
    background-color: #FF1043;
    box-shadow: 0 15px 20px #cc0a34;
    transform: translateY(3px);
}
.films img:hover{
    cursor: default;
}
.film img{
    width: 20vw;
}

.tarifs{
    font-size: 2em;
    margin-bottom: 3em;
}

/*aside dynamique qui apparait qd on clic sur un bouton "reserver" */
aside {
    width: 50%;
    padding-left: 1em;
    margin-left: .5rem;
    float: right;
    box-shadow: inset 10px 0 10px -5px #FF1043;
    font-style: italic;
    font-size: 1.3em;
    height: 60vh;
    background-color: #07111B;
    display: none;
    z-index: 2;
}
#nbbillets{
    margin-bottom: 10em;
}

h3{
    margin-bottom: 1em;
    margin-top: 3em;
}
#btn1{
    margin-top: 5em ;
}

@media all and (min-width: 993px) {
    /*cache header mobile sur grand écran*/
    #header2{
        display: none;
    }
}

/*adaptation pour petit écran (mobiles)*/
@media all and (max-width: 992px) {
    body{
        background: #0A141E;
    }

    .films{
        display: none;
    }

    h2{
        margin-top: 3em;
    }
    main{
        font-size: 2em;
        padding-bottom: 15em;
    }
    .reservedbtn{
        font-size: 1em;
    }
    #nbbillets{
        transform: scale(2.5);
        margin-left:  2em;
    }
}